{% extends '../base.html' %}

{% block title %}MedHacks 2017{% endblock %}

{% block content %}
    <div>
        <div class="image"></div>
        <div>
            <h1>Welcome, {{patient.first_name}} {{patient.last_name}}</h1>
            <div>
                <h2>Medical Record</h2>
                <h2>Health Summaries</h2>
                <h2>Providers</h2>
                <h2>Messages</h2>
                <h2>Settings</h2>
            </div>
        </div>
    </div>
    <div>
        <div class="information-quickview">
            <h3>DOB: {{patient.dob}}</h3>
            <h3>Email: {{user.email}}</h3>
            <h3>Phone Number: {{patient.phone_number}}</h3>
            <h3>Address: {{patient.address}}, {{patient.city}}, {{patient.state}}, {{patient.zip_code}}</h3>
        </div>
        <div class="updates">
        </div>
    </div>
{% endblock %}
